:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 40;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: small-caps;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: black;
}

body {
  margin: 35px 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(17, 116, 119);
  color: white;
  padding: 1px 0;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: white
  }
  button {
    background-color: #f9f9f9;
  }
}

footer {
  background-color: rgb(29, 172, 177);
  color: white;
  padding: 2px 0;
  text-align: center;
  border-style:groove;
  border-color: rgb(9, 9, 9);
  border-width: 10px;
}

header {
  background-color: rgb(29, 172, 177);
  color: rgb(252, 251, 251);
  border-style:groove;
  border-color: rgb(9, 9, 9);
  border-width: 10px;
  text-align: center;
  color: white;
  padding: 3px 0;
  text-align: center;
  margin: 3px 0;
}
