#root {
    --navbar-bg-color: #050505;
    --navbar-text-color: #000000;
    --footer-bg-color: #040404;
    --footer-text-color: #010101;
    --footer-link-color: #f4f7f8;
    --body-header-text-color: #233e46;
    --body-text-color: #252d5a;
    --body-link-color: #080909;
    --body-link-hover-color: #61dafb;
    --header-bg-color: #f4f7f8;
    
  }
  .nav-link{
    color: var(--navbar-text-color)
  }
  .nav-link:hover{
    color: rgb(219, 226, 225);
  }
  
  .navbar-custom{
    background-color: #5296a5ff;
  }
  
  #home-icon {
      color: var(--navbar-text-color);
    }
    #home-icon:hover {
      color: var(--body-link-hover-color);
    }
  .doto-carousel {
  font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
  }
  
  .monospace-header {
  font-family: "monospace", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--body-header-text-color)
  }
  
  .raleway-body {
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      color: var(--body-text-color);
    }
  body {
    background-color: #121213;
  }
  
  .icon{
      color: var(--navbar-text-color)
    
    }
    .icon:hover{
    color: var(--body-link-hover-color)
    }
  
  #social-links {
    list-style-type: none;
    
  }
  #social-links a {
    color: #020202;
  }
  #social-links a:hover{
    color:#f1f6f4;
  }
  
  .body-main {
    background-color: var(--main-bg-color);
  }
  .footer-background {
    background-color: #5296a5ff;
  }
  .footer-top-custom {
    border-top: 10px solid var(--footer-bg-color)   
  }
  .footer-link {
    color:#f1f6f4
  }
  